/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
   font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}


/* main page bg image */
.main-div{
  background-image: url("./assets/mainBgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale:3.5;
  display: none;
  /* background-color: orange;
  scale: 0.5; */
}

.main-container{
   background-color: black;
}

.heading{
  color:rgba(0, 0, 0, 0.692)
}

.active-category{
  color: #292729bd;
  border-color: #292729bd;
}
.transition{
  transition: all 0.3s ease-in;
}

.removeImage{
  scale: 1.6;
  opacity: 0.2;
  visibility: hidden;
}

/* .cursor {
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  z-index: 9999;
} */

.cursor-example {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgba(161, 157, 157, 0.589);
  z-index: 9999;

}