/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
   font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  /* max-width: 1440px; */
  margin: auto;
  /* border: 2px solid red; */
  background-color: #fccff6;
  /* position: relative; */
}

/* change scroll bar color */
html.has-scroll-smooth {
  scroll-behavior: smooth;
}/* For Webkit browsers like Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* For Firefox - can't set width to 0, but can use 'none' */
* {
    scrollbar-width: none; /* Firefox alternative to hide scrollbar */
}

/* main page bg image */
.main-div{
  background-image: url("../public/assets/mainBgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale:3.5;
  display: none;
  width: 100%;
  /* background-color: orange;
  scale: 0.5; */
}

.main-container{
   background-color: black;
}

.heading{
  color:rgba(0, 0, 0, 0.692)
}

.active-category{
  color: #292729bd;
  border-color: #292729bd;
}
.transition{
  transition: all 0.3s ease-in;
}

.removeImage{
  scale: 1.6;
  opacity: 0.2;
  visibility: hidden;
}

/* .cursor {
  width: 100vw;
  height: 100vh;
  background: red;
  position: fixed;
  z-index: 9999;
  top: 0;
} */

.cursor-example {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgba(31, 29, 29, 0.904);
  z-index: 9999;
  pointer-events: none;

}


.grow, .grow-small{
  transform: scale(4);
  background: white;
  mix-blend-mode: difference; 
  border: none;
}

.grow-small{
  transform: scale(2);
}

.section-3-cursor-animation{
  transform: scale(3);
  border: 1px solid rgba(5, 5, 5, 0.822);
  background-color: transparent;
  /* border-width: .3px; */
}
.section-3-cursor-animation-img{
  transform: scale(3);
  border: 1px solid rgba(238, 238, 238, 0.822);
  background-color: rgba(238, 238, 238, 0.438);

}
/* .section-3-cursor-animation-category{
  transform: scale(3);
  border: 1px solid rgba(5, 5, 5, 0.822);
  background-color: transparent;
} */