/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
   font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}


/* main page bg image */
.main-div{
  background-image: url("./assets/mainBgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale:3.5;
  display: none;
  /* background-color: orange;
  scale: 0.5; */
}

.main-container{
  /* overflow-x: hidden;
  height: 100vh; */
   background-color: black;
}

.heading{
  color:rgba(0, 0, 0, 0.692)
  /* color:rgba(0, 0, 0, 0.781) */
  
}